@mixin fluid-font($min, $max) {
    font-size: calc((#{$min+px}) + (#{$max} - #{$min}) * ((100vw - 320px) / (1920 - 320)));
  }
.img-bg {
    position: absolute;
    top: 0px;
    left: 0px;
    object-fit: cover;
    object-position: center;
    height: 100%;
    width: 100%;
    z-index: -1;
    
}
.green-but {
    max-width: 200px;
    width: 100%;
    background: #EE6000;;
    font-weight: 500;
    padding: 0px 10px;
    box-sizing: border-box;
    @include fluid-font(14, 16);
    line-height: 24px;
    /* identical to box height, or 150% */

    text-align: center;
    text-transform: capitalize;

    color: #FFFFFF;
    min-height: 60px;
   
}
.about-us{
   
    font-weight: 500;
    @include fluid-font(12 , 14);
    line-height: 24px;
    padding-bottom: 5px;
    /* identical to box height, or 171% */

    letter-spacing: 0.15em;
    text-transform: uppercase;
    width: fit-content;
    color: #138A07;
}
.h {
    
    font-weight: 900;
    @include fluid-font(30 , 42);
    line-height: 120%;
    /* or 50px */
    margin-bottom: 30px;
    text-transform: capitalize;

    /* black */
    font-family: 'Martel', serif;;
    color: #32353F;
}

.text {
    margin-bottom: 30px;
    @include fluid-font(14 , 18);
    line-height: 180%;
    /* or 32px */
    

    /* text */

    color: #6D727A;
}
.learn-more {
width: fit-content;
@include fluid-font(12 , 16);
line-height: 24px;
/* identical to box height, or 150% */
position: relative;
text-align: center;
text-transform: capitalize;
padding-right: 15px;
/* green */

color: #138A07;
&::after {
    content: url('../img/XMLID.svg');
    position: absolute;
    top:0px ;
    right: 0px;
    width: 8px;
    height: 8px;
}
}
.post-block {
    position: relative;
    padding: 80px 0px;
    background: #FAFBFC;
    @media screen and (max-width:767px) {
        padding: 40px 0px;
    }
}
.h2 {
    padding-bottom: 60px;
    font-weight: bold;
    @include fluid-font(30 , 42);
    line-height: 120%;
    /* or 50px */

    
    text-align: center;
    text-transform: capitalize;

    /* black */

    color: #32353F;
}
.history {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-top: 20px;
     a{
         position: relative;
         margin-right: 10px;
         padding-right: 10px;
       
            font-weight: bold;
            font-size: 13px;
            line-height: 140%;
            /* identical to box height, or 17px */

            display: flex;
            align-items: center;
            letter-spacing: 0.15em;
            text-transform: uppercase;

            /* black */

            color: #32353F;
            &::after {
                content: '';
                position: absolute;
                top: 0px;
                right:0px;
                width: 2px;
                height: 100%;
                background-color: #EE6000;;
            }
     }
     a:last-child {
         
        color: #EE6000;;
        margin-right: 0px;
        &::after {
            content: none;
        }
     }
}

.stars {
    --percent: calc(var(--rating) / 5 * 100%);
    
    display: inline-block;
    font-size: 20px;
    font-family: Times; // make sure ★ appears correctly
    line-height: 1;
    
    &::before {
      content: '★★★★★'; /*you can paste base64 image code here to add any icon*/
      letter-spacing: 3px;
      background: linear-gradient(90deg, #FFC742 var(--percent), #fafafa var(--percent));
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
  .punkts {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 70px;
    @media screen and (max-width:1280px) {
        column-gap: 30px;
       
     }
    @media screen and (max-width:991px) {
        column-gap: 40px;
        grid-template-columns: 1fr 1fr;
     }
     @media screen and (max-width:565px) {
        column-gap: 20px;
        grid-template-columns: 1fr 1fr;
     }
   
    row-gap: 20px;
    p {
        @include fluid-font(14,16);
        line-height: 19px;
        /* identical to box height */

       

        /* text */
        position: relative;
        color: #6D727A;
        padding-left: 40px;
        &::before {
            content: url('../img/orangeg.svg');
            width: 16px;
            height: 16px;
            position: absolute;
            top: 0px;
            left: 0px;;
        }
    }
}
.special-cards {
    .cards {
        display: grid;
        
        grid-template-columns: 1fr 1fr 1fr 1fr;
        @media screen and (max-width:1100px){
            grid-template-columns: 1fr 1fr 1fr ;
        }
        @media screen and (max-width:800px){
            grid-template-columns: 1fr 1fr  ;
        }
        @media screen and (max-width:565px){
            grid-template-columns: 1fr   ;
        }
        column-gap: 30px;
        row-gap: 30px;
       
        .card {
            padding: 20px 20px;
            max-width: 300px;
            width: 100%;
            margin: 0 auto;
            display: block;
            background: #FFFFFF;
            border: 1px solid #E0E0E0;
            box-sizing: border-box;
            position: relative;
            .card-bl{
                display: flex;
                align-items: center;
                margin-top: 20px;;
                .det {
                    margin-left: 22px;
                    font-size: 12px;
                    line-height: 180%;
                    width: 75px;
                    min-width: 75px;
                    /* identical to box height, or 22px */

                    display: flex;
                    align-items: flex-end;
                    text-decoration-line: underline;

                    /* dark_blue */

                    color: #02073E;
                }
                .to-card-but {
               
                    font-size: 14px;
                    max-width: 130px;
                    height: 40px;
                    min-height: 40px;
                    font-weight: 400;
                    
                    
                }
            }
           .delivery {
            display: flex;
            align-items: flex-end;
            margin-top: 20px;
                .free {
                    
                    font-size: 12px;
                    line-height: 21px;
                    margin-left: 10px;
                    /* identical to box height, or 200% */
                    width: 76px;
                    min-width: 76px;
                    text-transform: capitalize;

                    /* Gray 3 */

                    color: #828282;
                }
                
                .price {
                   
                    font-weight: bold;
                    @include fluid-font(14,21);
                    line-height: 24px;
                    /* identical to box height, or 114% */

                    

                    /* black */

                    color: #32353F;
                }
                .disc {
                    color: #BDBDBD;
                    text-decoration-line: line-through;
                    margin-left: 10px;
/* Gray 4 */

                    
                }
           }
            img {
                height: 200px;
                width: 100%;
                object-fit: contain;
                object-position: center;
            }
            .txt {
                margin-top: 10px;
                font-weight: 500;
                @include fluid-font(14,16);
                line-height: 24px;
                /* or 150% */

                
                letter-spacing: 0.05em;
                text-transform: capitalize;

                /* black */

                color: #32353F;
                span {
                    font-size: 14px;
                }

            }
            .stars {
                font-size: 18px;
                display: block;
               
                width: fit-content;
                margin-top: 5px;
            }
            .on-sale {
                position: absolute;
                right: 10px;
                top: 10px;
                width: 64px;
                height: 28px;
                background: #138A07;
                border-radius: 2px;
                display: flex;
                justify-content: center;
                align-items: center;
                .p {
                  
                    font-weight: 500;
                    font-size: 12px;
                    line-height: 24px;
                    /* identical to box height, or 200% */


                    color: #FFFFFF;
                }
            }
           
        }
    }
}
.arrows {
    margin: 0 auto;
    margin-top: 50px;
    max-width: 125px;
    display: flex;
    justify-content: space-between;
    .reverse {
        transform: rotate(180deg);
    }
    
    .arrow{
        &:hover {
            cursor: pointer;
        }
        
        height: 10px;
        width: 45px;
        img {
            width: 100%;
            height: 100%;
        }
        .orange {
            display: none;
        }
    }
    .active{
        outline: none;
        .orange {
            display: block;
        }
        .gray {
            display: none;
        }
    }
}
.sec {
    font-family: Martel;
        font-weight: bold;
        font-size: 24px;
        line-height: 180%;
        /* or 43px */


        /* dark_blue */

        color: #02073E;
}
.com-txt {
   

        font-size: 16px;
        line-height: 180%;
        /* or 29px */
        
       
        /* Gray 1 */
        
        color: #333333;
        margin-bottom: 20px;
}