.products-1 {
    padding-top: 90px;
    padding-bottom: 60px;
    @media screen and (max-width:991px) {
        padding-top: 60px;
        padding-bottom: 40px;
    }
    @media screen and (max-width:565px) {
        padding-top: 30px;
        padding-bottom: 20px;
    }
    .inner {
       display: flex;
        @media screen and (max-width:991px) {
            flex-direction: column;
        }
            
        .a {
                
            margin: 0 auto;
            img {
               
            }
           
            box-sizing: border-box;
        
        }    
        .second {
            @media screen and (max-width:565px) {
                margin-top: 50px;
            }
            .h {
                margin-bottom: 10px;
                
            }
            .str {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                margin-bottom: 30px;
                a {
                    margin-left: 15px;
                    display: block;
                    font-size: 14px;
                    line-height: 16px;
                    text-decoration-line: underline;

                    /* #EB5757 */

                    color: #E2573F;
                }
            }
        }
        .lorem {
            @include fluid-font(14,16);
            line-height: 200%;
            /* or 32px */


            /* text */

            color: #6D727A;
        }
        .buy-now-block {
            margin-top: 20px;
            display: flex;
            align-items: center;
            @media screen and (max-width:565px) {
                flex-direction: column;
               
            }
            .inp-block {
                height: 60px;
               margin-right: 30px;
                max-width: 100px;
                @media screen and (max-width:565px) {
                   max-width: unset;
                   margin-right: 0px;
                  
                }
                width: 100%;
                justify-content: space-between;
                border: 1px solid #E0E0E0;
                padding: 12px;
                box-sizing: border-box;
                display: flex;
                align-items: center;
                padding-left: 20px;
                padding-right: 10px;
                .arrows {
                    display: flex;
                    justify-content: space-between;
                    flex-direction: column;
                    height: 100%;
                        a {
                            width: 12px;
                            height: 7.41px;
                            img {
                                width: 100%;
                                height: 100%;
                            }
                        }
                        .down {
                            transform: rotateX(180deg);
                        }
                    }
                
                    input {
                    width: calc(100% - 20px);
                    border:none;
                    outline: none;
                     background: none;
                    @include fluid-font(14,16);
                    line-height: 19px;
                        font-weight: bold;
                        &::placeholder{
                        font-weight: normal;
                        /* identical to box height */


                        /* text */

                        color: #6D727A;
                        }
                    }
            }
            .but {
                margin-right: 30px;
                @media screen and (max-width:565px) {
                    margin-top: 20px;
                    margin-right: 0px;
                    max-width: unset;
                 }
                font-weight: 500;
                @include fluid-font(14,16);
                line-height: 24px;
                /* identical to box height, or 150% */

                text-align: center;
                text-transform: capitalize;

                color: #FFFFFF;

               
                max-width: 200px;
                height: 60px;
                width: 100%;

                background: #EE6000;;
               
            }
            .to-card {
                
                @media screen and (max-width:565px) {
                    margin-top: 10px;
                    max-width: unset;
                 }
                font-weight: 500;
                @include fluid-font(14,16);
            line-height: 19px;
            /* identical to box height */

            border: 1px solid #EE6000;
            box-sizing: border-box;
            max-width: 200px;
                 width: 100%;
            /* green */

            text-align: center;
            text-transform: uppercase;

            /* orange */

            color: #EE6000;
            text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.25);
            min-height: 60px;
            }
        }
        .add {
            margin-top: 27px;
            padding-left: 35px;;
            position: relative;
            display: block;
            &::before {
                content: url('../img/Vector.svg');
                position: absolute;
                top: 2px;
                left: 0px;
                width: 20px;
                height: 18px;
            }
        }
        .price {
            margin-top: 30px;
            display: flex;
            justify-content: flex-start;
            align-items: flex-end;
            .un {
                @include fluid-font(24 , 36);
                line-height: 24px;
                /* identical to box height, or 67% */

               
                text-decoration-line: line-through;

                /* Gray 4 */

                color: #BDBDBD;
                margin-right: 30px;
            }
            .g {
                font-weight: bold;
                @include fluid-font(24 , 36);
                line-height: 24px;
                /* identical to box height, or 67% */

                text-align: center;

                /* black */
                margin-right: 30px;
                color: #32353F;
            }
            .aa {
                max-width: 78px;
                width: 100%;
                box-sizing: border-box;;
                font-weight: bold;
                font-size: 10px;
                line-height: 24px;
                /* identical to box height, or 240% */
                padding:0px 0px;
                text-align: center;

                color: #138A07;
                border: 1px solid #138A07;
                box-sizing: border-box;
                border-radius: 2px
            }
        }
        .line {
            background-color: #E0E0E0;
            width: 100%;
            height: 1.5px;
            margin-top: 45px;
            margin-bottom: 20px;
        }
        .cderit {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            margin-top: 54px;
            >*{
                margin-right: 10px;
            }
            >*:first-child {
                margin-right: 30px;
            }
            .p{
                font-weight: bold;
                @include fluid-font(14,16);
                line-height: 20px;
                /* identical to box height, or 0% */


                /* black */

                color: #32353F;
                text-shadow: 10px 15px 50px rgba(0, 0, 0, 0.05);
                            }
                        }
        
    }
}
.product-slider-block {
    max-width: 500px;
    margin-right: 70px;
    width: 100%;
    @media screen and (max-width:1280px) {
        margin-right: 50px;
       
    }
    @media screen and (max-width:991px) {
        max-width: unset;
    }
    .slider-thumb {
       
        margin-top: 25px;
        .slick-slide {
            max-width: 150px;
            margin: 0 auto;
            width: 100%;
            box-sizing: border-box;
            outline: none;
            border: 0.5px solid transparent;
            border-color: transparent;
            box-shadow: none;
            transition: box-shadow 0.3s, border-color 0.3s;
             &:hover {
               
                border: 0.5px solid #EE6000;;
                border-color:#EE6000;;
                box-shadow: 0px 0px 10px rgba(41, 156, 30, 0.25);
                transition: box-shadow 0.3s, border-color 0.3s;
                cursor: pointer;
            }
        }
        width: 100% !important;
        * {
            outline: none;
        }
        div {
            width: 100% !important;
        }
        .slick-track {
             display: grid !important;
             grid-template-columns: 1fr 1fr 1fr 1fr;
             @media screen and (max-width:991px) {
                grid-template-columns: 1fr 1fr 1fr 1fr;
             }
             @media screen and (max-width:565px) {
                grid-template-columns: 1fr 1fr 1fr;
             }
             @media screen and (max-width:400px) {
                grid-template-columns: 1fr 1fr ;
             }
             column-gap: 30px;
             row-gap: 30px;
             &::before {
                 content: none;
             }
             a {
                 height: 100px;
                
                box-sizing: border-box;
                min-width: 100px;
                width: 100px !important;
                background: #fff;
                @media screen and (max-width: 991px) {
                    min-width: unset !important;
                    width: unset !important;
                }
                padding: 10px;
                border: 1px solid #E0E0E0;
                display: flex !important;
                justify-content: center;
                align-items: center;
                overflow: hidden;
                img {
                    height: 80px;
                   width: auto;
                   max-width: 80px;
                   @media screen and (max-width: 991px) {
                    max-width: 90%;
                    width: 100%;
                }
                    object-fit: contain;
                    object-position: center;
                }
             }
         }
         .slick-current {
           
            border: 0.5px solid #EE6000;;
            border-color:#EE6000;;
            box-shadow: 0px 0px 10px rgba(41, 156, 30, 0.25);
            transition: box-shadow 0.3s, border-color 0.3s;
            cursor: pointer;
        
        }
    }
    .slider-content {
       .item {
           position: relative;
           display: flex !important;
           background: #fff;
           justify-content: center;
           align-items: center;
           padding :10px 36px;
           height: 500px;
           box-sizing: border-box;
            @media screen and (max-width:991px) {
                height: 300px;
            }
            @media screen and (max-width:565px) {
                height: 200px;
            }
            .on-sale {
                position: absolute;
                right: 10px;
                top: 10px;
                width: 64px;
                height :28px;
                background: #138A07;
                border-radius: 2px;
                display: flex;
                align-items: center;
                justify-content: center;
                p {
                    font-weight: 500;
                font-size: 12px;
                line-height: 24px;
                /* identical to box height, or 200% */

                
                color: #FFFFFF;
                text-align: center;
                
                }
            }
       }
       
        div {
            outline: none;
            overflow: hidden;
            
            
            
            img {
                object-fit: contain;
                object-position: center;
                height: 100%;
            }
        }
    }
}
.products-2{
    padding-bottom: 120px;
    @media screen and (max-width:991px) {
       
        padding-bottom: 50px;
    }
    @media screen and (max-width:565px) {
        padding-bottom: 30px;
    }
    .inner {
        .wrapper .active { 
            border-bottom: 2px solid #EE6000;;
            border-bottom-color: #EE6000;
            transition: border-bottom-color 0.3s ;
        }
        .tab_content{
            margin-top: 40px;
            border: 1px solid #E0E0E0;
            padding: 40px 30px;
            @media screen and (max-width:565px){
                padding: 20px 20px;
            }
            box-sizing: border-box;
            background-color: #fff;
        }
        .tab_item { 
            display: none;
            .ps {
                padding-bottom: 10px;
            }
            p{
                @include fluid-font(14,16);
            line-height: 180%;
            /* or 29px */
            
            text-align: justify;

            /* text */

            color: #6D727A;
            }
         }
        .tab_item:first-child { 
            display: block; }
        .tab {
            &:hover {
                cursor: pointer;
            }
            font-family: Raleway;
            font-style: normal;
            font-weight: bold;
            @include fluid-font(24,42);
            line-height: 49px;
            padding-bottom: 5px;
            margin-right: 40px;
            @media screen and (max-width:565px) {
                margin-right: 10px;
            }
            /* black */

            color: #32353F;
            border-bottom: 2px solid transparent;
            transition: border-bottom-color 0.3s ;
            &:hover{
                border-bottom: 2px solid #EE6000;;
                border-bottom-color: #EE6000;;
                transition: border-bottom-color 0.3s ;
            }
        }
    }
    .products-3-tab{
        padding-bottom: 85px;
        
        @media screen and (max-width:991px) {
           
            padding-bottom: 40px;
        }
        @media screen and (max-width:565px) {
           
            padding-bottom: 20px;
        }
        p{
            padding-bottom: 0px;
        }
        .inner {
           
           
           display: flex;
           
           @media screen and (max-width:991px) {
            
           }
           @media screen and (max-width:768px) {
            flex-direction: column;
           }
            .customer {
              
                
                font-family: Martel;

                font-weight: bold;
                @include fluid-font(18,24);
                line-height: 150%;
                /* identical to box height, or 36px */

                text-transform: capitalize;

                /* Gray 1 */

                color: #333333;
                
            }
            .rating-block {
                @media screen and (max-width:768px) {
                   margin: 0 auto;
                   }
                .stars {
                    font-size: 22px;
                }
                .green-but {
                    max-width: 215px;
                }
                .rat{
                    display: flex;
                    align-items: center;
                    margin-bottom: 20px;
                    .rev {
                        display: block;
                        font-size: 14px;
                        line-height: 16px;
                        text-decoration-line: underline;
                        margin-top: 10px;
                        /* #EB5757 */
    
                        color: #E2573F;
                    }
                    .rating {
                        font-weight: bold;
                        @include fluid-font(28,52);
                        line-height: 150%;
                        margin-right: 13px;
                        /* identical to box height, or 78px */
        
                        text-transform: capitalize;
        
                        color: #32353F;
                    }
                }
                
            }
            .progres-bars-block {
                margin-left: 200px;
                @media screen and (max-width:768px) {
                    margin: 0 auto;
                    margin-top: 50px;
                    }
                .item {
                    margin-bottom: 10px;
                    display: flex;
                    
                    align-items: center;
                    min-width: 260px;
                   
                    width: 100%;
                    @media screen and (max-width:565px) {
                        max-width: unset;
                        width : fit-content;
                        min-width: fit-content;
                    }
                    .txt {
                       width: 50px;
                        font-size: 14px;
                        line-height: 150%;
                        /* identical to box height, or 21px */
        
                        text-decoration-line: underline;
        
                        color: #02073E;
                        margin-right: 10px;
                    }
                   
                    .progres {
                        
                        width: 177px;
                        @media screen and (max-width:565px) {
                            width: 120px;;
                        }
                        height: 10px;
                        overflow: hidden;
        
                        background: #E0E0E0;
                        border-radius: 20px;
                        margin-right: 10px;
                        .red {
                            --percent: calc(var(--rating)* 100%);
                            background: linear-gradient(90deg, #02073E var(--percent), #E0E0E0 var(--percent));
                            height: 100%;
                            
                        }
                    }
                    .percents{
                        font-size: 14px;
                        line-height: 150%;
                        /* identical to box height, or 21px */
                        
                            padding-bottom: 0px;
                        
        
                        color: #828282;
                    }
                }
            }
        }
    }
    .products-4-tab {
        padding-bottom: 80px;
        p{
            padding-bottom: 0px;
        }
        @media screen and (max-width:991px) {
           
            padding-bottom: 40px;
        }
        @media screen and (max-width:565px) {
            
            padding-bottom: 20px;
        }
        .inner {
            border-top: 1px solid #E0E0E0;
            padding-top: 30px;
            
        }
        .info-block {
            display: flex;
            align-items: center;
            @media screen and (max-width:565px) {
                flex-direction: column;
                align-items: flex-start;
            }
            .reviews {
                
                @include fluid-font(14,16);
                line-height: 180%;
                /* identical to box height, or 29px */
                margin-right: 30px;
                @media screen and (max-width:565px){
                    margin-right: 10px;
                }
                color: #828282;
            }
            .sort {
                @include fluid-font(14,16);
                line-height: 180%;
                /* identical to box height, or 29px */
    
    
                color: #4F4F4F;
                span {
                    @include fluid-font(14,16);
                    line-height: 180%;
                    /* identical to box height, or 29px */
                    margin-left: 10px;
                    text-decoration-line: underline;
    
                    color: #333333;
                }
            }
            
        }
        .see-all {
                
            @include fluid-font(14,16);
            line-height: 180%;
            margin-top: 38px;
            /* identical to box height, or 29px */
    
            text-decoration-line: underline;
            display: block;
            color: #EE6000;
        }
     
       
    }
    .products-5-tab {
        background: #FFFFFF;
        padding-bottom: 100px;
        @media screen and (max-width:991px) {
            
            padding-bottom: 60px;
        }
        @media screen and (max-width:565px) {
            
            padding-bottom: 30px;
        }
        
        .inner {
             p {
                 padding-bottom: 0px;
             }
            .h {
                font-family: Martel;
                
                font-weight: bold;
                @include fluid-font(28,42);
                line-height: 120%;
                /* or 50px */
                
                
                /* dark_blue */
                
                color: #02073E;
                margin-bottom: 10px;;
            }
            .txt {
                
                @include fluid-font(14,18);
                line-height: 25px;
                /* identical to box height */
                color: #828282;
                
    
                
            }
           
            
        }
    }
}


.products-6 {

    
    
    background: #FAFBFC;
    .inner {
        .h {
            font-family: Arial;
            font-style: normal;
            font-weight: bold;
            @include fluid-font(28,42);
            line-height: 150%;
            /* identical to box height, or 63px */

            text-align: center;
            text-transform: capitalize;

            /* black */

            color: #32353F;
            
        }
        .ac {
            .b-faq{
                margin-bottom: 30px;
            }
            .b-faq:last-child {
                margin-bottom: 0px;
            }
        }
        .b-faq {
            
            background: #FFFFFF;
        border-radius: 5px;
        }
        .b-faq .faq__title {
            outline: none;
            position: relative;
            display: flex;
            justify-content: flex-start;
            padding:21px 30px;
            
            margin-bottom: 2px;
            color: #202020;
            @include fluid-font(18,28);
            text-decoration: none;
            
            -webkit-transition: background-color 0.2s;
            
        }
        .faq__active {
            display: block;
           .green-circle {
            background:  #6D727A;
            transform: rotate(180deg);
            transition: all 0.3s;
           }
        }
        .b-faq .faq__title .faq__spoiler {
            position: absolute;
            top: 13px; right: 10px;
            display: inline-block;
            vertical-align: middle;
            width: 30px;
            height: 30px;
            text-align: center;
            color: #fff;
            line-height: 30px;
            @include fluid-font(14,20);
            font-weight: 700;
            margin-right: 5px;
            
            border-radius: 50%;
            -webkit-transition: all 0.2s ease-out;
            transition: all 0.2s ease-out;
        }
        .b-faq .faq__rotate {
            transform: rotate(225deg);
        }
        .b-faq .faq__content {
            padding: 30px;
            margin-bottom: 2px;
            font-size: 14px;
            display: none;
            p {
                
        font-style: normal;
        font-weight: normal;
        @include fluid-font(14,16);
        line-height: 180%;
        /* or 29px */
        
        text-align: justify;
        
        /* text */
        
        color: #6D727A;
            }
            
        }
        .b-faq .faq__symbol {
            font-weight: 700;
        }
        .faq__text {
            font-family: Arial;
            color: #333333;
        font-weight: bold;
        @include fluid-font(13,16);
        line-height: 20px;
        /* identical to box height, or 0% */
        
        
        /* black */
        
       
        }
        .green-circle {
            min-width: 28px;
            margin-right: 44px;
            @media screen and (max-width:565px) {
                margin-right: 20px;
            }
        height: 28px;
        border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
        /* green */
        
        background: #EE6000;;
        transform: rotate(0deg);
            transition: all 0.3s;
        img {
            width: 20px;
        height: 15px;
        }
        }
    }
}
.products-7 {
    padding: 120px 0px;
    @media screen and (max-width:991px) {
        padding-top: 60px;
        padding-bottom: 60px;
    }
    @media screen and (max-width:565px) {
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .inner {
        .h {
            text-align: center;
            margin-bottom: 60px;
        }
       
    
    }
}
input[type="number"] {
    -webkit-appearance: textfield;
       -moz-appearance: textfield;
            appearance: textfield;
  }
  input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none;
}