@mixin font-size($deskSize, $mobSize) {
    $addSize: $deskSize - $mobSize;
    $addMobSize: $addSize + $addSize * 0.7;
    @media (min-width: #{$container + px}) {
        font-size: #{$deskSize + px};
    }
    @media (min-width: 767px) and (max-width: #{$container + px}) {
        font-size: calc(#{$mobSize + px} + #{$addSize} * (100vw / #{$container}));
    }
    @media (max-width: 767px) {
        font-size: calc(#{$mobSize + px} + #{$addMobSize} * ((100vw - 320px) / #{$container}));
    }

    @media (max-width: 370px) {
        font-size: #{$mobSize + px};
    }
}

body {
    
    line-height: 1.3;
    color: #000000;
    font-weight: 400;
}
a {
    color: #000000;
}
b,
strong {
    font-weight: 600;
}
i,
em {
    font-style: italic;
}
.badge{
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.15em;
    text-transform: uppercase;
}
h1 {
    @include font-size(50, 30);
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: 0.05em;
    text-transform: capitalize;
}
h2 {
    font-weight: 600;
    @include font-size(42, 28);
    line-height: 1.2;
    text-transform: capitalize;
}
p {
    @include font-size(16, 16);
    font-weight: 400;
    line-height: 1.5;
}
.subtitle{
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    color: #EE6000;;
}
.learn_more{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 16px;
    text-align: center;
    text-transform: capitalize;
    color: #EE6000;;
    img{
        margin-left: 10px;
    }
}